{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static "CSS/style.css" %}">
</head>
<body>
    {% comment %} <p class="lal-bg">Test</p>
    <img src="{% static "images/nature.jpeg" %}" alt=""> {% endcomment %}
    {% with count=0 %}
        {% for name in names %}
            {%if not name == 'John'%}
                <p class="lal-bg">{{name}}</p>
            {% endif %}
            {{ count |add:1 }}
        {% endfor %}
        {{count}}
    {% endwith %}
</body>
</html>